{% extends "layout.njk"%}
{% block head %}
    <link rel="stylesheet" href="/styleD.css">
{% endblock %}
{% block content %}
   <div class="error">
       <p>Erro404</p>
   </div>
   <div class="text">

   </div>
{% endblock %}