{% extends "layout.njk" %}

{% block content %}
  <div class="cont">
  <div class="imgP">
       <img src="https://blog.cedrotech.com/wp-content/uploads/2018/07/image5.png" alt="imagem">
  </div>
  <div class="infoD">
       <h1>Back-End</h1>
       <p>Treinamento Back-End</p>
  </div>
  </div>
{% endblock %}